.members{
    display: flex;
    flex-wrap: wrap;
}

.member{
    display: flex;
    align-items: center;

    margin-top: 20px;

    border: 1px solid rgb(155, 155, 155);

    flex-grow: 1;
    width: 50%;
    min-width: fit-content;
}

.member p, .member h2{
    margin: 0px;
}

.memberImage{
    aspect-ratio: 1;
    height: 200px;

    background-color: rebeccapurple;
    margin-right: 40px;

}

.memberImage img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top;

    border-right: 1px solid rgb(155, 155, 155);
}

.memberInfo p {
    color: rgb(70, 70, 70);
}

.memberInfo h2{
    margin-bottom: 0.3lh;
}