.members{
    display: flex;
    flex-wrap: wrap;
}

.member{
    position: relative;
    display: flex;
    align-items: center;

    margin-top: 20px;

    border: 1px solid rgb(155, 155, 155);

    flex-grow: 1;
    width: 50%;
    min-width: 500px;

    padding-right: 20px;
}

.member p, .member h2{
    margin: 0px;
    text-align: left;
}

.memberImage{
    aspect-ratio: 1;
    height: 200px;

    background-color: rebeccapurple;
    margin-right: 40px;

}

.memberImage img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top;

    border-right: 1px solid rgb(155, 155, 155);
}

.memberInfo p {
    color: rgb(70, 70, 70);
}

.memberInfo h2{
    margin-bottom: 0.3lh;
}

.directorNote h4{
    color: rgb(70, 70, 70);
    margin-bottom: 0.5lh;
}

.directorNote .memberInfo{
    width: 40%;
}

.directorNote h2{
    margin-bottom: 0px;
}


.tiet{
    position: absolute;
    height: 70%;

    right: 0;
    bottom: 0;
}

.tracks{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.track{

    min-width: 400px;
    flex-basis: 45%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    background-color: #bdbdbd;
    border-radius: 10px;
    
    overflow: hidden;
}

.trackTitle{
    width: 100%;

    text-align: left;
    color: white;
    background-color: black;
    border-radius: 10px;

    padding: 30px 30px;
}

.trackChairs{
    padding: 20px 30px;
}

.trackChairs h4{
    padding-bottom: 10px;
}

.trackChairs > div{
    display: flex;
    gap: 20px;
}

.trackChairs > div > div{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    padding: 15px;
    border-radius: 7px;
    background-color: rgb(145, 145, 145);

}

.reviewCom{
    list-style: none;
}