.VenueGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vw;
}

.grideElement{
    
    position: relative;
    background-color: var(--lbg2);

    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.grideElement img{
    width: 100%;
    height: 100%;
    /* max-height: 200px; */
    object-fit: cover;
}

.gridTextElement p{
    margin-top: 0px;
}

.gridTextElement h2{
    margin-top: 0px;
}

.gridTextElement{
    padding: 3vw;
    /* color: var(--lbg); */
}

.gridTextElement hr{
    margin: 10px 0px;
    margin-bottom: 20px;

    border: 1px solid black;
}

.gridTextElement p{
    font-style: italic;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
}



.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 1;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div10 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div11 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
}

.div12 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
}


.redTint::after{
    content: '';
    height: 100%;
    width: 100%;

    background-color: var(--primary);
    opacity: 0.8;
    position: absolute;

    transition-duration: 300ms;

}

.redTint:hover::after{
    opacity: 0.2;
}

.leaflet-container{
  height: 100%;
  filter: saturate(1.5) brightness(80%);
}


.venuePatGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: 20px;
}

.venuePatGrid img{
    width: calc(50% - 5px);
    height: auto;
}