.venueGrid{

    display: flex;
    flex-direction: column;

    gap: 40px;

}


.venueMainSection{
    position: relative;
    display: flex;
    align-items: center;

    background-color: var(--lbg2);

    border-radius: 20px;
    overflow: hidden;

}

.venueMainSection img:nth-of-type(1){
    height: 300px;
}

.venueMainSection > div{
    flex-grow: 1;
    padding: 30px 3vw;
}

.venueMainSection p{
    margin-top: 0px;
}

.venueMainSection hr{
        margin: 10px 0px;
    margin-bottom: 20px;

    border: 1px solid black;
}

.accentImage{
    position: absolute;
    height: 35%;
    right: 0;
    bottom: 0;
}


.transport{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 1lh;
}

.transport li{
    background-color: var(--sec);
    padding: 15px 10px;
    list-style: none;
}

.mapCont {
  display: flex;
  width: 100%;
  height: 70vh; /* Full viewport height */
}

.mapCont img {
  width: 70%;
  height: 100%;
  object-fit: contain; /* Keeps image scaled properly */
}

.mapCont .map {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  filter: saturate(2);
}
