.home{
    position: relative;
    display: flex;
}

.homeContent{
    width: 70%;
}

.floater{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    top: 50px;
    position: sticky;

    padding: 0px 4vw;

}

.impDates{
    width: 100%;
    height: fit-content;
    border: 1px solid black;
}

.impDates > h3{

    background-color: var(--primary);
    margin-top: 0px;

    font-weight: 600;
    padding: 10px;
    color: white;
}

.impDates > ul{
    padding: 20px 30px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.impDates span{
    font-weight: bold;
    color: var(--primary);
}

.impDates li{
    justify-content: left;
}

.pastConferences{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.conference{

    flex-grow: 1;
    flex-basis: 30%;
    border: 1px solid black;

    min-width: 200px;

    padding: 30px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition-duration: 120ms;
    cursor: pointer;

}

.conference p{
    margin-top: 0px;
}

.conference:hover{
    background-color: var(--primary);
    color: var(--lbg);
}

.sponsorGrid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    margin-top: 1lh;
}

.sponsorGrid img{
    width: 20%;
    height: auto;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.themes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
}

.themes li{
    
    min-width: 300px;
    flex-basis: 45%;
    flex-grow: 1;
    background-color: var(--sec);
    padding: 10px 10px;

    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.themes li span{
    margin-right: 20px;
    font-size: 2rem;

    color: rgb(156, 156, 156);
}