.slideshowContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slideshowContainer::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-color: black;

    opacity: 0.3;
    z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.headerTopContent {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: center;
  text-shadow: 0px 0px 20px black;
}

.headerTopContent h1{
  font-size: 4rem;
}

.headerTopContent h3{
  margin-top: 20px;
}

