.footerTop{

    background-color: var(--primary);
    color: var(--lbg);
    width: 100%;

    padding: 50px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.footerTop > h2{
    font-family: 'Figtree', Courier, monospace;
    letter-spacing: 0.5ch;
}

.footerTimer{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 60px;
}

.footerTimer span:nth-of-type(1){
    font-size: 4rem;
}

.footerTimer span:nth-of-type(2){
    font-size: 1rem;
}

.timerElement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.seperator{
    height: 80px;
    width: 2px;
    background-color: var(--lbg);
}

.footerBottom{

    display: flex;
    width: 100%;

    padding: 50px 5vw;
    background-color: black;
    color: var(--lbg);
}

.footerBottom div.col{
    flex-grow: 1;
}

.footerBottom div.col:nth-of-type(2){
    text-align: right;
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.5rem;
}

.icons *{
    cursor: pointer;
}