*{
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  font-family: 'Inter', Courier, monospace;
}


html{
  font-size: 14pt;
}

@media screen and (max-width: 1366px){

  html{
    font-size: 10pt;
  }

}

:root{
  --primary: #640000;
  --primary2: #960000;
  --lbg: #e6e6e6;
  --lbg2:rgb(231, 216, 203);
  --sec: rgb(206, 206, 206);
}

body{
  background-color: var(--lbg);
}

.page > * > p{
  line-height: 1.5lh;
}

.page{
  margin: 80px 5vw;
  text-align: justify;
}

.page h1{
  font-family: 'Figtree', Courier, monospace;
}

.page h3, .page h2:not(:nth-of-type(1)){
  margin-top: 1lh;
  font-family: 'Figtree', Courier, monospace;
}

.page p{
  margin-top: 1lh;
  font-family: 'Inter', Courier, monospace;
}

button{
  padding: 13px 30px;
  height: fit-content;
  width: fit-content;

  border: 0px solid;
  border-radius: 10px;

  font-family: 'Lato', Courier, monospace;
  font-size: 1.2rem;
  font-weight: 700;

  margin-top: 30px;
  cursor: pointer;

  transition-duration: 100ms;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button:hover{
  scale: 1.04;
}

button.dark{

  background-color: var(--primary2);
  color: var(--lbg);

}

button.light{
  background-color: var(--lbg);
  color: black;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1rem;
}

p, ul{
  font-size: 1rem;
}

a{
  color: inherit;
  text-decoration: none;
}